body{
    background-color: rgb(116, 195, 255);
    font-size: 44px;
}
.heading
{
  width: 100%;
  margin: 0px;
  box-shadow:5px 5px 5px grey;
  font-size: 23px;
}
.heading_div
{
  background: white ; 
  border-radius: 20px; 
  color: black;
  box-shadow:5px 5px 5px grey;
  float:none;
  padding: 10px;
}
.heading_div2
{
  font-size: 18px ;
}
.result_para_tag
{
  box-shadow:5px 5px 5px grey;
  font-size: 20px;
}
.result_para_tag span{
  white-space: pre-line;
}
.copy_right_footer{
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 229, 229);
  text-align: center;
  width: 100%;
  color:  #8d84c4;
  line-height: 1.5;
  font-size: 28px;
}
canvas{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  margin-top: 160px;
}
.img_resposive{
    float: left;
}
.f{
    float: right;
}
.test_image_and_result{
  background-color: aquamarine;
  border-radius: 100px;
}
#p{
  float:right;
  margin-right: 500px;
  color:deepskyblue;
}